<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REW Listings</title>
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
</head>
<body style="background-color:#43679C">
    <div class="container" style = "background-color: #43679C">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center">
        <h1 style = "color:#021736"> REW Listings</h1>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-info btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>
      <!-- Add section for Listings -->
      <div class="row" id="listings" style = "background-color: #43679C">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h2 style = "color:#021736">Latest Listings</h2>
              <h4 class="media-heading">{{ listings.listings_title }}</h4>
              <p>{{ listings.listing_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>
    
</body>
</html>